


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
   <body>
    <div style="width: 1006px; margin-bottom: 15px; border-style: solid solid none; border-width: 1px;">
        <div style="border-bottom-width: 1px; border-bottom-style: solid; display: flex; flex-direction: column; align-items: center; padding: 40px 67px;">
        
            <h1 style="font-size: 20px;">목표 . </h1>
            <section style="margin-top: 63px; display: flex; width: 100%; justify-content: space-between;">
                <span style="display: flex; flex-direction: column; align-items: center;">
                    <h2 style="font-size: 12px;">예상시간</h2>
                    <h3 style="font-size: 18px;">분 초</h3>
                </span>
                <div style="border-right-width: 1px; border-right-color: rgba(0, 0, 0, 0.125); border-right-style: solid;"></div>
                <span style="display: flex; flex-direction: column; align-items: center;">
                    <h2 style="font-size: 12px;">예상 리워드</h2>
                    <h3 style="font-size: 18px;">
                        
                        
                        
                        
                        
                        
                         ',') %&gt;
                        p
                        </h3>
                </span>
                <div style="border-right-width: 1px; border-right-color: rgba(0, 0, 0, 0.125); border-right-style: solid;"></div>
                <span style="display: flex; flex-direction: column; align-items: center;">
                    <h2 style="font-size: 12px;">타겟 수</h2>
                    <h3 style="font-size: 18px;"></h3>
                </span>
                <div style="border-right-width: 1px; border-right-color: rgba(0, 0, 0, 0.125); border-right-style: solid;"></div>
                <span style="display: flex; flex-direction: column; align-items: center;">
                    <h2 style="font-size: 12px;">테스터 수</h2>
                    <h3 style="font-size: 18px;"></h3>
                </span>
                <div style="border-right-width: 1px; border-right-color: rgba(0, 0, 0, 0.125); border-right-style: solid;"></div>
                <span style="display: flex; flex-direction: column; align-items: center;">
                    <h2 style="font-size: 12px;">인터뷰 질문</h2>
                    <h3 style="font-size: 18px;"></h3>
                </span>
            </section>
        </div>
        
        
            
                <div style="display: flex; justify-content: space-between; position: relative; border-bottom-width: 1px; border-bottom-style: solid; padding: 36px 99px;">
                    <div style="width: 80px; height: 30px; position: absolute; display: flex; align-items: center; justify-content: center; background-color: black; top: 36px; left: 0; border-radius: 0 20px 20px 0;">
                        <h1 style="font-size: 15px; color: white; vertical-align: center;" align="center">타겟 </h1>
                    </div>
                    <div style="width: 80px; height: 30px; position: absolute; display: flex; align-items: center; justify-content: center; background-color: white; top: 85px; left: 0; border-radius: 0 20px 20px 0; border: 1px solid #282828;">
                        <h1 style="font-size: 15px; color: #282828; vertical-align: center;" align="center">상세기준</h1>
                    </div>
                    <div style="position: absolute; top: 36px; right: 99px; width: 300px;">
                    <section>
                        <span style="display: flex; flex-direction: column; align-items: center;">
                            <h2 style="font-size: 12px;">성별</h2>
                            <h3 style="font-size: 18px;"></h3>
                        </span>
                        <div style="border-right-width: 1px; border-right-color: rgba(0, 0, 0, 0.125); border-right-style: solid;"></div>
                        <span style="display: flex; flex-direction: column; align-items: center;">
                            <h2 style="font-size: 12px;">연령대</h2>
                            <h3 style="font-size: 18px;">대 </h3>
                        </span>
                        <div style="border-right-width: 1px; border-right-color: rgba(0, 0, 0, 0.125); border-right-style: solid;"></div>
                        <span style="display: flex; flex-direction: column; align-items: center;">
                            <h2 style="font-size: 12px;">테스터 수</h2>
                            <h3 style="font-size: 18px;"></h3>
                        </span>
                    </section>
                    </div>
                    <div style="width: 100%;">
                        <h1 style="font-size: 18px; margin-bottom: 20px;"></h1>
                        <h4 style="font-size: 18px; margin-bottom: 31px;"></h4>
                        <section>
                            <span>
                                <h2 style="font-size: 12px; margin-top: 31px;">인터뷰 질문 1</h2>
                                <h3 style="font-size: 18px; margin-top: 17px;">[목표 달성 후] </h3>
                            </span>
                            <span>
                                <h2 style="font-size: 12px; margin-top: 31px;">인터뷰 질문 2</h2>
                                <h3 style="font-size: 18px; margin-top: 17px;">[목표 달성 후] </h3>
                            </span>
                            <span>
                                <h2 style="font-size: 12px; margin-top: 31px;">인터뷰 질문 3</h2>
                                <h3 style="font-size: 18px; margin-top: 17px;">[목표 실패 후] </h3>
                            </span>
                            <span>
                                <h2 style="font-size: 12px; margin-top: 31px;">인터뷰 질문 4</h2>
                                <h3 style="font-size: 18px; margin-top: 17px;">[목표 실패 후] </h3>
                            </span>
                        </section>
                    </div>
                    
                </div>
            
        
    </div>

    

  </body>
  
</html>

