

.index-middle.aboutus {
    margin-top: 100px;
    h1 {
        margin-top: 0;
        font-size: 40px;
    }
    h2 {
        margin: 30px 0 ;
        font-size: 20px;
    }
    h1, h2 {
        text-align: center;
    }
    .index-middle-box {
        margin: 80px 0;
    }
}

.aboutus-middle {
    margin-top :40px;
    -webkit-transition: opacity 0.75s ease-in 0.75s;
    -moz-transition: opacity 0.75s ease-in 0.75s;
    -o-transition: opacity 0.75s ease-in 0.75s;
    -ms-transition: opacity 0.75s ease-in 0.75s;
    transition: opacity 0.75s ease-in 0.75s;
    p {
        font-size: 40px;
        margin-bottom: 90px;
        text-align:center;
    }
}
.aboutus-middle-box {
    display: flex;
   
    margin-bottom: 100px;
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 17px;
    }
}
.aboutus-middle-box-left, .aboutus-middle-box-right {
    display: flex;
    flex-direction: column;
    opacity: 0;
    
}
.aboutus-middle-box-left {
    align-items: flex-start;
    img {
        width: 370px;
        height: 300px;
    }
    margin-right: 50px;
}
.aboutus-middle-box-right {
    align-items: flex-end;
    img {
        width: 170px;
        height: 300px;
    }
    
}
.aboutus-middle-box-left-content {
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h2,h3 {
        text-align: left;
    }
    >div {
        margin: 30px 0;
    }
}
.aboutus-middle-box-right-content {
    width: 300px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    h2, h3 {
        text-align:right;
    }
    >div {
        margin: 30px 0;
    }
}
.aboutus-middle-box-left-top, .aboutus-middle-box-right-top {
    background-color: #282828;
    height: 40px;
    width: 140px;
    h1 {color: white;
    font-size: 25px;
    text-align: center;
    }
    border-radius: 20px;
}

.aboutus-middle-pc {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.aboutus-middle-box-right-content .aboutus-middle-pc {
    margin-left: 60px;
}
.aboutus-middle2 {
    display: flex;
}

.aboutus-card {
    opacity: 0;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.125);
    margin: 0 10px;
    img {
        width: 100%;
        height: auto;

    }
    h1, h2 {
        text-align: center;
    }
    h1 {
        font-size: 20px;
        margin-top: 20px;
    }
    h2 {
        margin-top: 15px;
        font-size: 17px;
    }
}

.index-bottom.aboutus {
    background-color: #4bb43c;
    margin-top: 140px;
    h1 {
        opacity: 0;
    
    }
    button {
        opacity: 0;
        margin-top: 50px;
        cursor: pointer;
    }
    button:hover {
        background-color: #fff;
        p {
        color: #4bb43c;
        }
    }
}
.aboutus-button:hover {
    color: #4bb43c;
}
.aboutus-button-text {
    text-decoration: none; 
    font-size :23px; 
    display: block;
    height: 60px;
    width: 330px;
    text-align: center;
    padding-top: 20px;
}
@media (max-width: 1250px) {

    .index-middle.aboutus {
        margin-top: 50px;
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 14px;
        }
        p {
            font-size: 20px;
        }
    }
    .index-middle.aboutus .index-middle-box {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .aboutus-middle-box-right-middle, .aboutus-middle-box-left-middle {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .aboutus-middle-box-left-middle {
        flex-direction: column-reverse!important;
    }
    .aboutus-middle-box-right, .aboutus-middle-box-left {
        
        align-items: center;
        img {
            height: 250px;
            max-width: 300px;
        }
    }
    .aboutus-middle-box-left {
        margin-right: 0;
        margin-bottom: 60px;
    }
    .aboutus-middle {
        margin-top: 0px;
        p {
            padding: 0 40px;
            margin-bottom: 70px;
            font-size: 28px;
        }
        .pc {
            display: none;
        }
    }
    .aboutus-middle-pc {
        justify-content: center;
        margin: 0!important;
        width: 100%;
    }
    .aboutus-middle-box-right-content > div {
        margin:22px 0;
    }
    .aboutus-middle-box {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .aboutus-middle-box-left-content, .aboutus-middle-box-right-content {
        align-items: center;
        h2, h3 {
            text-align: center;

        }
        h2 {
            margin-bottom: 24px;
        }
    }
    .aboutus-middle2 {
        flex-direction: column;
    }
    .aboutus-card {
        margin: 20px 0;
    }
    .index-bottom.aboutus {
        margin-top: 20px;
        padding: 0;
        .pc {
            display: none;
        }
        .show {

        }
        h1 {
            margin:60px  0;
        }
    }

}
