/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

html {
    font-size: 15px;
    position: relative;
}
body {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, a, input {
    font-weight: normal;
    margin: 0;
    color: #282828;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
}

::placeholder { 
    color: #c8c8c8c8;
    opacity: 1;
}


/*header*/
.navbar {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;
    padding-top: 30px;
    background-color:transparent;
    justify-content: space-around;
    a {
        font-size:  17px;
        margin: 0 5px;
    }
}

.navbar-brand {
    img {
        height: 40px;
        width: auto;
    }
}
.navbar-toggler {
    border: none;
    color:white;
    transition: opacity 1s ease 0.5s;
    opacity: 1;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    color:white;
    background-image: url("burder-fa9d3553c1cf11cb567718c4f15b2e8b3112033c7ad499012b84bc46914b1eb1.svg");
    width: 45px;
    height: 45px;
    margin-top: 5px;
}
.navbar-collapse {
    width:initial;
    flex-grow:0;
    
}
.nav-close {
    width: 28px;
    height: 28px;
    position: relative;
    display: none;
   
}

.navbar-toggler[aria-expanded=true] {
    .nav-close {
    display: block;
    }
    .navbar-toggler-icon {
        display: none;
    }
}
.navbar-toggler {
    position: relative;
    z-index: 400;
}
.navbar-nav {
    position: relative;
    z-index: 300;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    text-align: center;
    h2 {
        display: none;
        font-size: 15px;
        color :#646464;
        position: absolute;
        bottom: 18px;
        margin: 0 auto;
        text-align: left;
    }
}

.nav-item {
  
    font-size: 17px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link.color {
    color: #4fbcbc;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #4fbcbc;
}
.navbar-light .navbar-nav .nav-link.color:hover {
    color:white;
}
.move {
    right: 0!important;
}

@media (max-width: 991px) {
    .navbar {
        justify-content: space-between;
        padding-top: 15px;
    }
    .navbar .navbar-brand {
        margin-left: 25px;
        img {
            width: 120px;
        }
    }
    .navbar-toggler {
        margin-right: 25px;
        padding: 0;
    }

    .navbar-toggler[aria-expanded=true] {
        margin-right: 0px;
        position: fixed;
        top: 23px;
        right: 34px;
        background-color: transparent;
    }
    .navbar-nav {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        a {
        font-size: 28px;
        // margin-left: 50px;
        }
        h2 {
            display: block;
        }
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: rgb(146, 0, 0);
    }
    .navbar-light .navbar-nav .nav-link.color {
        color: rgb(146, 0, 0);
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        width: 100vw;
        height: 100vh;
        transition: width 0.25s ease 0s!important;
    }
    
    .navbar-collapse.collapsing {
        position:fixed;
        width:0;
        overflow:hidden;
    }
}

/*footer*/
.footer-up-btn {
    width: 81px;
    height: 81px;
    position: fixed;
    bottom:50px;
    right: 100px; 
    cursor:pointer;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in 0s;
    -moz-transition: opacity 0.3s ease-in 0s;
    -o-transition: opacity 0.3s ease-in 0s;
    -ms-transition: opacity 0.3s ease-in 0s;
    transition: opacity 0.3s ease-in 0s;
}
.fixed {
    position: absolute;
    top: -131px;
}
footer {
    position:relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 500;
    h1,h2, a {
        color: white;
        font-size: 15px;
    }

    h2 {
        color: #646464;
        margin-bottom: 30px;
    }
}

.footer-top {
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
        margin: 0 10px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: rgb(156, 156, 156);
    }
}


.footer-middle {
    margin-bottom: 20px;
    h1 {
        margin: 0 10px;
    }
}
#myBtn {
    color: white;
    font-size: 15px;
}
#myBtn:hover {
    color: rgb(156, 156, 156);
    cursor: pointer;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 1100px){
  
    .footer-top {
        .mobile {
            display: none;
        }
    }
}
@media (max-width: 800px) {
    .footer-middle {
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .footer-up-btn {
        right: 30px;
        bottom: 20px;
        width: 50px;
        height: 50px;
    }
    .fixed {
        position: absolute;
        top: -70px;
    }
  
}



/*alertify*/
.alertify .ajs-header {

    color: #282828;
   font-size: 20px;
}

.alertify .ajs-footer {
    background-color:  white;
    border: none;
}
.ajs-content {
    font-size: 18px;
}
.alertify .ajs-button {
    
}
@media (max-width: 500px) {
    .alertify .ajs-header {
     font-size: 18px;   
    }
    .ajs-content { 
        font-size: 15px;
    }
}
.alertify .ajs-footer .ajs-buttons .ajs-button  {
    background-color:  white;
    color: #282828;
    outline:none;
    cursor: pointer;
    // border-radius: 5px;
}
.alertify .ajs-footer .ajs-buttons .ajs-button:hover {
   
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    color: #282828;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok:hover {
    color: rgba(0,0,0,0.6);
}




/*mobile*/
.mobile {
    display: none;
}

@media (max-width: 1006px) {
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
}




.submit {
    position:fixed;
    z-index: 900;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.15);
}
.submit-box {
    margin: 0 auto;
    top: 100px;
    left: 0;
    position: relative;
    width: 800px;
    height: 600px;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.125);
    img {
        margin-top: -60px;
    }
    button {
        width: 100%;
        background-color: #282828;
        height: 50px;
        text-align: center;
        border: none;
        bottom: 0;
        color:white;
        position:absolute;
        cursor: pointer;
    }
    h1 {
        font-size: 38px;
        text-align:Center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    h2 {
        font-size: 23px;
        text-align:Center;
    }
}
@media (max-width: 800px) {
    .submit-box {
    width: 90%;
    height: auto;
    padding: 0 10px;
    img {
        margin-top: 30px;
    }
    h1 {
        margin-top: 0px;
        font-size: 23px;
        margin-bottom: 5px; 

    }
    h2 {
        font-size: 13px;
        margin-bottom: 70px;
    }
    button {
        height: 35px;
    }
   
 }
}
@media (max-width: 450px) {
    img {
        width: 30%;
    }
    h1 {
       
        font-size: 18px;
    }
    h2 {
        font-size: 10px;
    }
}
