
.contact-input-box {
    border-bottom: 1px solid gray;
    padding-left: 0;
    width: 47%;
    margin: 20px 0;
}
.contact-input {
    border: 0;
    outline: 0;
    width: 19rem;
    padding-left: 15px;
}
.contact-button {
    width: 300px; 
    float: none; 
    position: relative; 
    margin: 0 auto;
}
.hide {
    display: none !important;
}