
/*index-top*/
.index-top {
    height: 100vh;
    min-height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    text-align:center;
    h1, h2 {
        position: relative;
        padding: 0 80px;
        color: white;
        text-align: center; 
    }
    h1 {
        margin-top: 15%;
        line-height: 1.5;
        font-size: 33px;
    }
    h2 {
        margin-top: 15px;
        line-height: 2;
        font-size: 17px;
    }
    button {
        height: 70px;
        width: 350px;
        margin-top: 170px;
        margin-bottom: 7%;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        display:flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        p {
            font-size :23px;
            margin-bottom: 0;
        }
        
    }
    button:hover {
        background-color:#282828;
        border: 1px solid #282828;
        color:#fff;
    }
}
.index-top.works {  
        height: 650px;
        h1 {
           
            margin-top: 80px;
        }
        h2 {
       
            margin-top: 15px;
           
        }
}
.index-top-bg {
    z-index:0;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    img {
        height: 1700px;
        opacity: 0.35;
        top: -10%;
    }
  
}
.index-top-img {
    height: 82px;
    width: auto;
    position: relative;
}
.index-top-arrow {
    position: relative;
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
}

/*index-middle*/
.index-middle {
    width: 100%;
    h1 {
        font-size: 40px;
        text-align:center;
        margin-top: 140px;
    }
    p {
        font-size: 23px;
        text-align:center;
    }
    h3 {
        margin-bottom: 140px;
        text-align:center;
        font-size: 17px;
    }
}
.index-middle-box {
    width: 100%;
    margin: 120px 0;
    display: flex;
    justify-content: center; 
}
.index-middle-box-content {
    opacity: 0;
    margin: 0 40px;
    img {
        height: 100px;
        width: auto;
        margin-bottom: 20px;
    }
}

/*index-bottom*/
.index-bottom {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e8454a;
    h1, h2, p {
        color:white;
    }
    h1 {
        font-size: 40px;
        margin-top: 110px;
        text-align:center;
        opacity: 0;
        -webkit-transition: opacity 0.75s ease-in 0.25s;
        -moz-transition: opacity 0.75s ease-in 0.25s;
        -o-transition: opacity 0.75s ease-in 0.25s;
        -ms-transition: opacity 0.75s ease-in 0.25s;
        transition: opacity 0.75s ease-in 0.25s;
    }
    h2 {
        margin-top: 40px;
        font-size: 20px;
        margin-bottom: 110px;
        text-align:center;
        opacity: 0;
        -webkit-transition: opacity 0.75s ease-in 0.5s;
        -moz-transition: opacity 0.75s ease-in 0.5s;
        -o-transition: opacity 0.75s ease-in 0.5s;
        -ms-transition: opacity 0.75s ease-in 0.5s;
        transition: opacity 0.75s ease-in 0.5s;
    }
    button {
        opacity: 0;
        height: 70px;
        width: 350px;
        margin-bottom: 110px;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: opacity 0.75s ease-in 0.75s;
        -moz-transition: opacity 0.75s ease-in 0.75s;
        -o-transition: opacity 0.75s ease-in 0.75s;
        -ms-transition: opacity 0.75s ease-in 0.75s;
        transition: opacity 0.75s ease-in 0.75s;
        p {
            font-size :23px;
            margin-bottom: 0;
        }
        
    }
}
.index-button:hover {
    background-color:#fff;
    color:#e8454a;
}

@media (max-width: 991px) {
    .index-top {
        height: 510px;
        justify-content: flex-start;
        min-height: initial;
        h1 {
            padding: 0px;
            font-size: 28px;
            margin-top: 160px;
        }
        h2 {
            margin-top: 20px;
            padding: 0;
            font-sizE: 14px;
        }
        button {
            display:none;
        }
    }
    .index-top-arrow {
        position: absolute;
        bottom: 15px;
    }
    .index-top.works {
        height: 450px;
        h1 {
            margin-top: 45px;
            padding: 0px;
            font-size: 28px;
        }  
        h2 {
            display:none;
        }
        .index-top-img {
            margin-top: 130px;
            height: 56px;
        }
    }
    
    .index-top-bg {
        img {
        width: auto;
        height: 700px;
        }
        // margin: 0 auto;
    }
   
    .index-middle-box {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }
    .index-middle-box-content {
     
        width: 100%;
        margin: 15px 0 ;
        img {
            width: 50vw;
            height: auto;
        }
    }
    .index-middle {
        h1 {
            margin-top: 70px;
            font-size: 28px;

        }
        h3 {
            margin-bottom: 70px;
        }
    }
    .index-bottom {
        padding: 0px;
        h1 {
            font-size: 28px;
            margin-top: 70px;
        }
        H2 {
            font-size: 14PX;
            margin-bottom: 45px;
        }
        button {
            
            width: 280px;
            margin-bottom: 80px;
            p {
                font-size: 20px;
            }
        }
    }
}

.index-third-box-button {
    width: 352px;
    height: 67px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}
.index-third-box-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #e8454a;
}
.index-button:hover {
    color: #e8454a;
}
