.recruit-img {
    width: 146px;
    height: 146px;
}

.recruit-bottom {
    display: flex;
    justify-content: center;
    margin-top: 100px; 
}
.recruit-bottom-left {
    margin-right: 200px;
    margin-top: 20px;
    p,h1 {
        font-size: 20px;
        margin: 5px 0;
    }
    h1 {
        margin-right: 40px;
        font-weight: 500!important;
    }

}
.recruit-bottom-left-box {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.recruit-bottom-left-box.other {
    align-items: flex-start;
}
.recruit-bottom-right {
    width: 500px;
    display:Flex;
    flex-direction: column;
    align-items: center;
    form {
        width: 100%;
    }
}
.recruit-input-box {
    width: 100%;
    border-bottom: 1.5px solid rgba(0,0,0, 0.4);
    display:flex;
    padding-bottom: 2px;
    justify-content: space-between;
    align-items: center;
    label, input {
        font-size: 20px;
        margin: 10px 0;
    }
    input {
        width: 74%;
    }
}
.recruit-input::placeholder {
    font-size: 17px;
}
.recruit-input {
    border: 0;
    outline: none;
}
.recruit-inputfile-box {
    border: 1px solid #282828;
    border-radius: 2px;
    margin: 20px 0;
    margin-right: 40px;
    height: 35px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    overflow:hidden;
    input {
        cursor: pointer;
        width: 100%;  
        padding: 0;
        opacity: 0;
        position: absolute;
        z-index: 5;
    }
    h1 {
        position: relative;
        z-index: 0;
        font-size: 14px;
        margin-left: 15px;
        height: 100%;
        vertical-align: middle;
        height: 22px;

    }
}

.recruit-input-box.file {
    label {
        margin-top: 13px;
    }
    align-items:flex-start;
}
.recruit-input-box-file {
    width:60%;
    margin-right: 30px;

}
.recruit-button {
    width: 350px;
    height: 65px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #282828;
    color: #282828;
    background-color: white;
    cursor: pointer;
    outline: none;
    margin-top: 60px;
    margin-bottom: 140px;
    font-size: 23px;
}
.recruit-button:focus {
    outline: none;
}
.recruit-button:hover {
    background-color: #282828;
    border-color: #282828;
    color: #fff;
}
@media (max-width: 1200px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 14px;
    }
    .recruit-img {
        width: 146px;
        height: 146px;
    }
    .recruit-profile {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h6 {
            font-size: 15px;
        }
        h4 {
            font-size: 25px;
            margin-bottom: 13px;
        }
    }
    .recruit-box {
        font-size: 28px;
    }
    .recruit-bottom {
        width: 85%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }
    .recruit-bottom-left {
        margin: 0;
        margin-top: 30px;
        width: 90%;
    }
    .recruit-bottom-left-box {
        flex-direction: column;
        align-items: flex-start;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 20px;
        }
    }
    .recruit-bottom-right {
        margin-top: 40px;
        width: 100%;
        form {
            width: 100%;
        }
        
    }
    .recruit-input-box {
        label {
            padding-left: 14px;
        }
        input {
            width: 65%
        }
    }
    .recruit-input-box.file {
        flex-direction: column;
        margin: 0;
    }
    .recruit-input-box-file {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .recruit-inputfile-box {
        margin-right: 0;
        width: 90%;
        margin: 10px 0;
    }
    .recruit-button {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    
}

