.recruit-img {
    width: 146px;
    height: 146px;
}
.recruit-explain {
    p {
        font-size: 20px;
    }
}
.recruit-input-box {
    padding: 15px 0;
    border-bottom: 1px solid gray;
    display:flex;
    label {
       margin-bottom: 0;
    }
    label, input {
        font-size: 20px;
    }
    
}
.recruit-input {
    
    border: 0;
    outline: 0;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.inputfile + label {
    cursor: pointer;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.recruit-button {
    width: 350px;
    height: 70px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 10px;
    border-color: #282828;
    color: #282828;
    background-color: white;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 140px;
    font-size: 23px;
}
.recruit-button:hover {
    background-color: #282828;
    border-color: #282828;
    color: #fff;
}

.recruit-inputfile-box {
    border: 1px solid #282828;
    border-radius: 2px;
    margin:10px 0;
    width: 100%;
    input {
        height: 30px;
        width: 100%;
        
       
    }
}

@media (max-width: 1000px) {
    .recruit-img {
        width: 146px;
        height: 146px;
    }
    .recruit-profile {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h6 {
            font-size: 15px;
        }
        h4 {
            font-size: 25px;
            margin-bottom: 13px;
        }
    }
    .recruit-mobile {
        margin-bottom: 60px;
    }
    .recruit-box {
        font-size: 28px;
    }
    .recruit-qualification {
        margin-left: 20px;
        margin-bottom: 80px;
        .bold {
            font-weight: normal;
        }
        p {
            font-size: 20px;
        }
    }
    .recruit-input {
        width: 320px;
        label {
            font-size: 20px;
        }
    }
    .recruit-inputfile-box {
        border: 1px solid #282828;
        border-radius: 2px;
        width: 290px;
    }
    
}
