// Place all the styles related to the testing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*testing-first*/
.testing-first-start {
    width: 100%;
    height: 700px;
    background-color: grey;
}

.testing-first-top {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    h1 {
        font-size: 20px;
    }
}

.testing-first-top-box {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 89px;
    width: 180px;
    
}

ion-icon {
    height: 22px;
    width: 22px;
    margin: 0 40px;
}
.testing-first-top-box.active {
    border-bottom: 8px solid #282828;
}

.testing-first-middle {
    width: 1006px;

}

/*in testing-first-middle*/
.testing-first-middle-top {
    margin-top: 87px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        // width: 50%;
        font-size: 16px;

    }
    button {
        width:  189px;
        height: 41px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #ff5500;
        border:none;
        border-radius: 22px;
    }
    h2 {
        color:white;
        font-size: 16px;
    }
}

.accordion {
    margin-top:10px;
    .collapse.show {
       
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    button {
        width: 100%;
    
    }
  
}

.card-header {
    background-color: transparent;
    height: 75px;
    padding: 0 36px;
    button {
        
    }
    button:focus {
        outline:none;
    }
}
.card-button {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor:pointer;
    h1 {
        font-size: 12px;
    }
    h2 {
        margin-left: 10px;
        font-size: 18px;
    }
}


.card-body {
    padding: 0;

    button {
        width: 100%;
    }
    .card-submit {
        width: 100%;
        padding: 0 36px 36px 36px;
        button {
            background-color: #ff5500;
            border:none;
            height: 40px;
            font-size: 16px;
            color: white;
        }
    }
}

.card-body-1 {
    display: flex;
    justify-content: space-between;
    padding: 26px 36px;
    label {
        font-size: 12px;
    }

 
}

.card-body-1-left {
    h1 {
        font-size: 18px;
        margin-left :11px;
    }
}
.card-body-1-left-hour {
    width: 112px;
    height: 42px;
    margin-top:5px;
    select {
        border-radius: 21px;
        width: 100%;
        height: 100%;
        text-align:center;
        -webkit-appearance: none;
    }
   
}
.card-body-1-left-minute {
    width: 112px;
    height: 42px;
    margin-left: 27px;
    select {
        border-radius: 21px;
        width: 100%;
        height: 100%;
        text-align:center;
        -webkit-appearance: none;
    }
   
}

.card-body-1-right {

    width: 50%;
    input {
        width: 95%;
        padding: 10px 0;
    }
}

.card-body-2 {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(0,0,0,.125);
    position:relative;
    padding: 50px 36px;
    label {
        font-size: 12px;
    }
}
.card-body-2:after {
    content: '타겟 1';
    width: 71px;
    height: 25px;
    position: absolute;
    background-color: black;
    color: white;
    text-align:center;
    top: 45px;
    left: 0;
    font-size:15px;
    border-radius: 0 20px 20px 0;
}
.card-body-2-left {
    width :30%;
    .first {
        margin-top: 0;
    }
}

.card-body-2-left-box {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    input {
        margin-top: 15px;
        padding: 10px 0;
        margin-left: 3%;
        width: 97%;
    }
    select {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.125);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
    }
    
    .form-control:focus {
    
    }
    span select {
        width: 45%;
        
    }

}
.card-body-2-left-box:nth-child(2):after {
    content: '>';
    color: #333;
    font: normal normal normal 30px/1 FontAwesome;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    top: 0;
    position: absolute;
    pointer-events: none;
}
.card-body-2-left-box.sex {
    input {
        margin: 0;
        width: auto;
    }
    div {
        margin: 5px 0;
        display:flex;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        span {
            display:Flex;
            align-items: center;
            input {
                height: 25px;
                width: 25px;
               
            }
            h1 {
                font-size: 18px;
                margin-left: 5px;
            }
        }
    }
}

.card-body-2-right {
    width: 50%;
    .first {
        margin-top: 0;
    }
}

.card-body-2-right-box {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    span {
        display:flex;
        align-items: center;
    } 
    h1, h2 {
        font-size: 12px;
    }
    h1 {
        background-color: black;
        border-radius: 20px;
        height: 19px;
        width: 120px;
        text-align: center;
        color: white;
        position: relative;
        // padding-top: 2px;
    }
    h2 {
        color: #383838;
        margin-left: 5px;
    }
    input{
        margin-left: 3%;
        width: 97%;
        font-size: 18px;
        padding: 10px 0;
        margin-top: 50px;
        color: #282828;
    }
}


/*testing-first-bottom*/
.testing-first-bottom {
    margin-top: 25px;
    width: 1006px;
    display:flex;
    flex-direction: column;
    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 30px;
    }


}
.testing-first-bottom-top {
    padding-bottom: 20px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    button {
        width: 227px;
        height: 41px;
        border-radius: 20.5px;
        border:none;
        background-color: #ff5500;
        a {
            color :white;
            text-decoration: none;
        }
    }
}
.testing-first-bottom-top-right {
    width: 300px;
}
.testing-first-bottom-middle {
    display:flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 20px 0;
}

.testing-first-bottom-bottom {
    padding: 20px 0;
    margin-bottom:70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 300px;
        height: 60px;
        margin-top: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border:none;
        border-radius: 10px;
        border: 1.5px solid rgba(0, 0, 0, 0.445);
        h1 {
            font-size: 23px;
        }
    }
}