// Place all the styles related to the testing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*testing-first*/
.testing-first-start {
    position: relative;
    width: 100%;
    height: 785px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .bg{
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0.35;
        top: 0;
    }
    .img {
        position: relative;
    }
    h1, h2 {
    position: relative;
    color: white;
    text-align: center;
    }
    h1 {
        font-size: 40px;
        margin-top: 102px;
    }
    h2 {
        margin-top: 41px;
        font-size: 20px;
    }
}




.testing-first-top {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    h1 {
        font-size: 20px;
    }
}

.testing-first-top-box {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 89px;
    width: 180px;
    
}

.testing-first-top-box.active {
    border-bottom: 8px solid #282828;
}

ion-icon {
    height: 22px;
    width: 22px;
    margin: 0 40px;
}

.testing-first-middle {
    margin-top: 90px;
    width: 1006px;
    display:flex;
}

.testing-first-middle-left {
    width: 35%;
    div {
        display:flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    label {
        font-size: 12px;
    }
    input { 
        font-size: 18px;
        margin-top: 5px;
        padding: 10px 0;
        margin-left: 3%;
        width: 97%;
    }
}

.testing-first-middle-right {
    margin-left: 10%;
    width:55%;
    div {
        
    }
    input {
        width: 24px;
        height: 25px;
    }
    label {
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    label.first {
        margin-top:0;
    }
    h1 {
        margin-left: 4px;
        margin-right: 56px;
        font-size: 18px;
    }
    input { 
        font-size: 18px;
    }
    .url {
        height: 50px;
        width: 80%;
    }
}

.testing-first-bottom {
    margin-top: 80px;
    position: relative;  
    width: 1006px;
    display:flex;
    justify-content: center;
    button {
        margin-bottom: 150px;
        width: 350px;
        height: 60px;
        font-size: 23px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        border: 1.5px solid #282828;



    }
}


/*testing-second*/
.testing-second-middle {
    width: 1006px;

}

.testing-second-middle-top {
    margin-top: 87px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        // width: 50%;
        font-size: 16px;

    }
    button {
        width:  189px;
        height: 41px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #ff5500;
        border:none;
        border-radius: 22px;
    }
    h2 {
        color:white;
        font-size: 16px;
    }
}

/*_second-box.html*/
.accordion {
    margin-top:10px;
    .collapse.show {
       
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    button {
        width: 100%;
    
    }
  
}

.card-header {
    background-color: transparent;
    height: 75px;
    padding: 0 36px;
    button:focus {
        outline:none;
    }
    .purpose-arrow {
        transition: transform 0.15s linear 0s;
    }
}

.card-button {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor:pointer;
    h1 {
        font-size: 12px;
    }
    h2 {
        margin-left: 10px;
        font-size: 18px;
    }
}


.card-body {
    padding: 0;
    button {
        width: 100%;
    }
    .card-submit {
        width: 100%;
        padding: 0 36px 36px 36px;
        a {
            cursor:pointer;
            background-color: #ff5500;
            border:none;
            text-align:center;
            display:flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 100%;
            h1 {
                color: white;
                font-size: 16px;

            }
        }
    }
}

.card-body-1 {
    display: flex;
    justify-content: space-between;
    padding: 26px 36px;
    label {
        font-size: 12px;
    }

 
}

.card-body-1-left {
    h1 {
        font-size: 18px;
        margin-left :11px;
    }
}
.card-body-1-left-hour {
    width: 112px;
    height: 42px;
    margin-top:5px;
    position: relative;
    select {
        border-radius: 21px;
        width: 100%;
        height: 100%;
        text-align:center;
        -webkit-appearance: none;
        padding-left: 45%;
        position: relative;
        z-index: 4;
        opacity: 0;
    }
    .select-hour {
        border-radius: 21px;
        line-height: 42px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        width: 100%;
        height: 100%;
        position:absolute;
        display:Flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 0;
        h1 {
            margin: 0;
        }
    }
}
.card-body-1-left-minute {
    width: 112px;
    height: 42px;
    margin-left: 27px;
    position:relative;
    select {
        width: 100%;
        height: 100%;
        text-align:center;
        -webkit-appearance: none;
        padding-left: 45%;
        position: relative;
        z-index: 4;
        opacity: 0;
    }
    .select-minute {
        border-radius: 21px;
        line-height: 42px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        width: 100%;
        height: 100%;
        position:absolute;
        display:Flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 0;
        h1 {
            margin: 0;
        }
    }
}

.card-body-1-right {

    width: 50%;
    input {
        width: 95%;
        padding: 10px 0;
    }
}

.card-body-2 {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(0,0,0,.125);
    position:relative;
    padding: 50px 36px;
    label {
        font-size: 12px;
    }
}
.card-body-2-target {

    width: 71px;
    height: 25px;
    position: absolute;
    background-color: black;
    top: 45px;
    left: 0;
    border-radius: 0 20px 20px 0;
    h1 {
        text-align:center;
        font-size:15px;
        color: white;

    }
}
.card-body-2-left {
    width :30%;
    position: relative;
    .first {
        margin-top: 0;
    }
}
.card-body-2-left-ask {
    position: absolute;
    top:0;
    right:0;
    width: 34px;
    height: 34px;
    border: 1.4px solid rgba(0,0,0,0.4);
    border-radius:17px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    h1 {
        text-align:center;
        font-size:26px;
    }
}
.card-body-2-left-box {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    input {
        margin-top: 15px;
        padding: 10px 0;
        margin-left: 3%;
        width: 97%;
    }
    select {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.125);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        position: relative;
    }
    .select-arrow {
        position: absolute;
        top: 12px;
        right: 0;
        transition: transform 0.15s linear 0s;
        fill: grey;
    }
    span div {
        width: 45%;
        
    }

}
.arrow-rotate {
    transform: rotateX(180deg);
}
.card-body-2-left-box.sex {
    input {
        margin: 0;
        width: auto;
    }
    div {
        margin: 5px 0;
        display:flex;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        
        span {
            display:Flex;
            align-items: center;
            position: relative;
            div {
                height: 25px;
                width: 25px;
            }
            input {
                position:absolute;
                height: 25px;
                width: 25px;
                opacity: 0;
                top:0;
                left: 0;
                z-index: 5;
            }
            .big {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top:0;
                left:0;
                height: 25px;
                width: 25px;
                border: 1.4px solid rgba(0,0,0,.25);
                border-radius: 12.5px;
                z-index:0;
            }
            .small {
                width: 15px;
                height: 15px;
                background-color: rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                position: relative;
            }
            input:checked ~ .big {
                .small {
                    background-color: #282828;
                }
                border-color: #282828;
            }
            h1 {
                font-size: 18px;
                margin-left: 8px;
            }
        }
    }
}

.card-body-2-right {
    position: relative;
    width: 50%;
    .first {
        margin-top: 0;
    }
}

.card-body-2-right-box {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    span {
        display:flex;
        align-items: center;
    } 
    h1, h2 {
        font-size: 12px;
    }
    h1 {
        background-color: black;
        border-radius: 20px;
        height: 19px;
        width: 120px;
        text-align: center;
        color: white;
        position: relative;
        // padding-top: 2px;
    }
    h2 {
        color: #383838;
        margin-left: 5px;
    }
    input{
        margin-left: 3%;
        width: 97%;
        font-size: 18px;
        padding: 10px 0;
        margin-top: 50px;
        color: #282828;
        
    }
    textarea {
        border:none;
        height: 10px;
        min-height: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}


/*testing-second-bottom*/
.testing-second-bottom {
    margin-top: 25px;
    width: 1006px;
    display:flex;
    flex-direction: column;
    position: relative;
    h1 {
        font-size: 14px;
    }
    h2 {
        font-size: 30px;
    }


}
.testing-second-bottom-top {
    padding-bottom: 20px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    button {
        width: 227px;
        height: 41px;
        border-radius: 20.5px;
        border:none;
        background-color: #ff5500;
        a {
            color :white;
            text-decoration: none;
        }
    }
}
.testing-second-bottom-top-right {
    width: 300px;
}
.testing-second-bottom-middle {
    display:flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 20px 0;
}

.testing-second-bottom-bottom {
    padding: 20px 0;
    margin-bottom:70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 300px;
        height: 60px;
        margin-top: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
        border:none;
        border-radius: 10px;
        border: 1.5px solid rgba(0, 0, 0, 0.445);
        text-decoration: none;
        background-color: transparent;  
        input {
            font-size: 23px;
            border:none;

        }
    }
    input:hover {
        background-color: #282828;
        color: white;
        
    } 
}


/*testing-third*/
.testing-third-middle {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.testing-third-middle-top {
    margin-top: 80px;
    margin-bottom: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 17px;
    }
    h2 {
        font-size: 30px;
        font-weight:900;
        color: #e8454a;
    }
    span {
        margin: 0 45px;
        height: 50px;
        border-right:2px solid rgba(0,0,0,.125);
    }
}

.testing-third-middle-box {
    width: 1006px;
    border: 1px solid rgba(0,0,0,.125);
    border-bottom: none;
    margin-bottom: 15px;

}


.testing-third-middle-box-top {
    border-bottom: 1px solid rgba(0,0,0,.125);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 67px;
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        color: rgba(0,0,0,.125);
    }
    section {
        margin-top: 63px;
        display:flex;
        width: 100%;
        justify-content: space-between;
    }
    span {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}



.testing-third-middle-box-middle {
    display:flex;
    justify-content: space-between;
    padding: 36px 99px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.125);
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 18px;
    }
    
}
.testing-third-middle-box-middle-target {
    width: 71px;
    height: 25px;
    position: absolute;
    background-color: black;
    top: 45px;
    left: 0;
    border-radius: 0 20px 20px 0;
    h1 {
        text-align:center;
        font-size:15px;
        color: white;

    }
}
.testing-third-middle-box-middle-left {
    width: 100%;
    h2 {
        margin-top: 31px;
    }
    h1 {
        margin-bottom: 31px;
    }
    h3 {
        margin-top: 17px;
    }
} 
.testing-third-middle-box-middle-right {
    position:absolute;
    top:36px;
    right: 99px;
    width: 300px;
    div {
        border-right: 2px solid rgba(0,0,0,0.125);
    }
    span  {
        display:flex;
        flex-direction: column;
        align-items: center;    
    }
}

.testing-third-bottom {
    margin-top: 84px;
    width: 1006px;
    position: relative;
    h1 {
        font-size: 18px;
    }
    textarea {
        height: 200px;
        width: 100%;
        border: 1px solid rgba(0,0,0,.125);
        padding: 20px;
        line-height: 1.61;
    }   
    section {
        margin-top: 105px;
        width: 100%;

        justify-content: center;
        input {
            width: 20px;
            height: 20px;
            padding: 0;
            border: 1.5px solid rgba(0,0,0,0.4);
            border-radius:3px;
            color: white;
        }
        h1 {
            margin-left: 20px;
            font-size: 18px;
        }
        button {
            margin-left: 20px;
            width: 150px;
            height: 34px;
            background-color: transparent;
            border-radius: 17px;
            border: 1.5px solid rgba(0,0,0,0.4);
        }
        
    }
    form {
        margin-bottom: 80px;
        margin-top: 80px;
        width: 100%;
        display:flex;
        justify-content: center;
        input {
            margin: 0 20px;
            width: 300px;
            text-align: center;
            height: 60px;
            background-color:transparent;
            border-radius: 8px;
            border:1.5px solid rgba(0,0,0,0.4);

        }
        input:hover {
            background-color: #282828;
            color: white;
        }
    }
}

.index-box {
    // display: table;
    // width: 100%;
    // height: 100%;
    // background-position: center center;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('dummy1.jpg');
    // color: white;
    // background-size: cover;
    // position: relative;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .img {
        position: relative;
    }
    .bg{
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0.35;
        
    }
    .word {
        position: relative;
        color: white;
        text-align: center;
        }
    .index-button {
        position: relative;
        width: 352px;
        height: 67px;
        border: 1.5px solid white;
        border-radius: 8px;            
        }
    .index-button:hover {
        background-color:#282828;
        color:#fff;
        border-color: #282828;
        }
}


.index-third-box {
    background-color: #e8454a;
    width: 100%;
}

.index-third-box-button {
    width: 352px;
    height: 67px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
    border-color: #fff;
    color: #fff;
}
.index-third-box-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #e8454a;
}

.aboutus-box {
    background-color: #4bb43c;
    width: 100%;
}
.aboutus-box-button {
    width: 352px;
    height: 67px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 8px;
    border-color: #fff;
    color: #fff;
}
.aboutus-box-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #4bb43c;
}
#test div {
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#test div.load {
    opacity: 1;
}
