
<section class="card-body-1">
    <div class=" card-body-1-left d-flex flex-column">
        <label>예상 시간*</label>
        <div class="d-flex align-items-center">
            <div class="card-body-1-left-hour">
                <select>
                    <option>1</option>
                </select>
            </div>
            <h1>분</h1>
            <div class="card-body-1-left-minute">
                <select>
                    <option>1</option>
                </select>
            </div>
            <h1>초</h1>
        </div>
    </div>
    <div class="card-body-1-right d-flex flex-column">
        <label>이 목표를 통해 어떤 것을 알고 싶으신가요?</label>
        <input type="text" name="[purpose][purpose<%=$a%>][goal]" >
    </div>
</section>
