<div class="testing-help-purpose">
   
    <h1>추가 진행이 필요하신가요?</h1>
    <h2>아래 연락처로 별도 문의 주시면,<br>
    추가 테스트 진행을 도와드릴게요!</h1>
    <h3>추가비용이 발생할 수 있습니다.</h3>
    <%=image_tag("help-purpose.PNG")%>
    
    <button>닫기</button>
</div>

<script>
    $('.testing-help-purpose button').click(function () {
        $(".testing-help-purpose").remove();
    })
</script>