 <div class="testing-third-middle-box">
    <div class="testing-third-middle-box-top">
        <h1>목표 1. 로그인 후 마이페이지에서 내가 좋아요한 영상 리스트 확인하기</h1>
        <section>
            <span>
                <h2>예상시간</h2>
                <h3>1분 40초</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>예상 리워드</h2>
                <h3>300P</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>타겟 수</h2>
                <h3>2</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>테스터 수</h2>
                <h3>5</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>인터뷰 질문</h2>
                <h3>4</h3>
            </span>
        </section>
    </div>
    <div class="testing-third-middle-box-middle">
        <div class="testing-third-middle-box-middle-left">
            <h1>20대 후반 여성</h1>
            <secction>
                <span>
                    <h2>인터뷰 질문 1</h2>
                    <h3>[목표 달성 후] 프로세스가 직관적이었나요?</h3>
                </span>
                <span>
                    <h2>인터뷰 질문 2</h2>
                    <h3>[목표 달성 후] 프로세스가 직관적이었나요?</h3>
                </span>
            </section>
        </div>
        <div class="testing-third-middle-box-middle-right">
        <section class="d-flex justify-content-between">
             <span>
                <h2>성별</h2>
                <h3>여자</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>연령대</h2>
                <h3>20대 후반</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>테스터 수</h2>
                <h3>5</h3>
            </span>
        </section>
        </div>
    </div>
    <div class="testing-third-middle-box-middle">
        <div class="testing-third-middle-box-middle-left">
            <h1>20대 후반 여성</h1>
            <secction>
                <span>
                    <h2>인터뷰 질문 1</h2>
                    <h3>[목표 달성 후] 프로세스가 직관적이었나요?</h3>
                </span>
                <span>
                    <h2>인터뷰 질문 2</h2>
                    <h3>[목표 달성 후] 프로세스가 직관적이었나요?</h3>
                </span>
            </section>
        </div>
        <div class="testing-third-middle-box-middle-right">
        <section class="d-flex justify-content-between">
             <span>
                <h2>성별</h2>
                <h3>여자</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>연령대</h2>
                <h3>20대 후반</h3>
            </span>
            <h4>|<h4>
            <span>
                <h2>테스터 수</h2>
                <h3>5</h3>
            </span>
        </section>
        </div>
    </div>
</div>