<%=render "top"%>
<form id="first-form" name="first_form" action="/testing/second" method="get">
<div class="testing-first-top">
    <div class="testing-first-top-box active ">
    <h1>기본 정보 등록</h1>
    </div>
    <ion-icon name="play"></ion-icon>
    <div class="testing-first-top-box">
    <h1>테스트 정보 입력</h1>
    </div>
    <ion-icon name="play"></ion-icon>
    <div class="testing-first-top-box">
    <h1>검토 및 제출</h1>
    </div>
</div>

<div class="testing-first-middle">
    <div class="testing-first-middle-left"> 
            <div class="">
                <label>회사명*</label>
                <input id="brandname" placeholder="카카오" name="brandname">
            </div>
            <div class="">
                <label>담당자명*</label>
                <input id="name" placeholder="김○○" name="name">
            </div>
            <div class="">
                <label>담당자 연락처*</label>
                <input id="phone-number" placeholder="010-1234-5678" name="phonenumber">
            </div>
            <div >
                <label>담당자 이메일*</label>
                <input id="email" placeholder="kakao@kakao.com" name="email">
            </div>
    </div>
    <div class="testing-first-middle-right">
        <div class="d-flex flex-column">
            <label class="first">테스트 매체*</label>
            <div class="d-flex justify-content-start">
                <span class="d-flex align-items-center">
                    <input name="media" value="desktop" type="radio"/>
                    <h1>데스크탑</h1>
                </span>
                <span class="d-flex align-items-center">
                    <input name="media" value="mobile" type="radio"/>
                    <h1>모바일</h1>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column">
                <label>테스트 종류*</label>
                <div class="d-flex justify-content-start">
                <span class="d-flex align-items-center">
                    <input name="testtype" value="image-pro"type="radio"/>
                    <h1>이미지 프로토타입</h1>
                </span>
                <span class="d-flex align-items-center">
                    <input name="testtype" value="product"type="radio"/>
                    <h1>구동가능한 제품 또는 시제품</h1>
                </span>
                
                </div>
        </div>
        <div class="d-flex flex-column">
            <label>URL*</label>
            <input class="url" id="url" name="url" placeholder="http://melon.com">
        </div>
    </div>
</div>
</form>
<div class="testing-first-bottom">
    <a href="/testing/firsttest" data-remote="true" id="start">
    <button>
    시작하기
    </button>
    </a>
</div>  