<!-- 첫번째 박스 -->
<div class="d-flex flex-column justify-content-center align-items-center">
    <div>
        <p class="h3">최고의 서비스는 완벽하게 디자인 되어야 한다.</p>
    </div>
    <div>
        <p class="h6 text-center">고객이 단순히 사용하는 서비스가 아닌, 고객이 좋아하는 서비스를 만들 수 있도록 지원해드립니다.</p>
        <p class="h6 text-center">타겟 고객에게 직접 서비스를 경험시키고, 생생한 피드백을 받아보세요.</p>
    </div>
    <div class="text-center border">무료 사용성 테스트 신청하기</div>
</div>

<!-- 두번째 박스 -->
<div>
    <div></div>
    <div></div>
    <div></div>
</div>

<!-- 세번째 박스-->
<div>
    <div></div>
    <div></div>
    <div></div>
</div>