
<div class="index-top works" >
    <%= image_tag("dummy1.jpg", class:"index-top-bg")%>
    <%=image_tag("W_img_title_recruit.svg", {:class=>"index-top-img"})%>
    <h1>더 테스터와 함께 완벽을 만들어 나갈 인재를 모십니다.”</h1>
    <h2>사용자 중심으로 서비스를 만드는 것은 필수적이지만 많은 기업이 생략하고 있습니다.<Br>
    저희는 세상이 아직 깨닫지 못한 옳은 일, 해야하는 일을 하고, 그 가치를 전달합니다. </h2>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div style="margin-top: 80px;">
        <p class="h1">Members</p>
    </div>

    <div class="container" style="margin-bottom: 150px; margin-top: 100px;">
        <div class="row">
            <div class="col-lg d-flex justify-content-center align-items-center" style="width: 450px;">
                <div class="mr-5"><%= image_tag('W_img_recruit_jisoo.png', class:"recruit-img")%></div>
                <div>
                    <p class="h6">CEO. Founder</p>
                    <p class="h4">강 지 수</p>
                    <p class="h6">편견없는 기획자</p>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center align-items-center" style="width: 450px;">
                <div class="mr-5"><%= image_tag('W_img_recruit_ahram.png', class:"recruit-img")%></div>
                <div>
                    <p class="h6">CDO. Co-Founder</p>
                    <p class="h4">김 아 람</p>
                    <p class="h6">아직 젊은 디자이너</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 mb-5">
        <p class="h1">Recruit</p>
    </div>

    <div class="mb-5">
        <p class="h2 text-center">“사용성 테스트에 대한 이해와 관심을 가지고 있고,</p>
        <p class="h2 text-center">자유로운 분위기 속에서 함께 즐기며 일할 수 있는 엔지니어를 찾습니다”</p>
    </div>
    

    <div class="d-flex justify-content-center mt-5">
        <div style="margin-right: 8rem; margin-top: 1rem;">
            <p>모집분야&nbsp;&nbsp;&nbsp;&nbsp;엔지니어</p>
            <p>모집인원&nbsp;&nbsp;&nbsp;&nbsp;0명</p>
            <p>자격요건 &nbsp;&nbsp;&nbsp;&nbsp;1. 플랫폼 개발 경력 2~3년 이상</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 빅데이터 분석 처리 경험 有</p>
            <p>지원기간&nbsp;&nbsp;&nbsp;&nbsp;채용 시까지</p>
            <p>지원서류&nbsp;&nbsp;&nbsp;&nbsp;이력서, 자기소개서, 포트폴리오</p>
        </div>
        <div style="width: 345px;">
            <form method="post" enctype="multipart/form-data">
                <div class="recruit-input-box mb-3"><label>이름*&nbsp;&nbsp;</label><input class="recruit-input" type="text" id="uname" name="name"></div>
                <div class="recruit-input-box mb-3"><label>연락처*&nbsp;&nbsp;</label><input class="recruit-input" type="text" id="phone"></div>
                <div class="recruit-input-box mb-3"><label>이메일*&nbsp;&nbsp;</label><input class="recruit-input" id="emailAddress" type="email"></div>
                <div class="d-flex recruit-input-box mb-3">
                    <div><label for="file">파일 업로드*</label></div>
                    <div class="d-flex flex-column ml-4">
                        <div class="recruit-inputfile-box mb-3">
                            <input type="file" name="file" id="file" class="inputfile" />
                            <label for="file">&nbsp;&nbsp;첨부 1</label>
                        </div>
                        <div class="recruit-inputfile-box mb-3">
                            <input type="file" name="file" id="file" class="inputfile" />
                            <label for="file">&nbsp;&nbsp;첨부 2</label>
                        </div>
                        <div class="recruit-inputfile-box mb-3">
                            <input type="file" name="file" id="file" class="inputfile" />
                            <label for="file">&nbsp;&nbsp;첨부 3</label>
                        </div>
                    </div>
                </div>
                <div class="mb-5 ml-4">
                    <button class="recruit-button">더 테스터 지원하기</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

<script>
    $(".navbar-nav a:nth-child(4)").addClass("color");
</script>