var purpose_count = $(".accordion").length;
console.log(purpose_count);
if (purpose_count != 3) {
$(`<div class='d-flex justify-content-between align-items-center w-100'>
    <h1>목표 ${Number(purpose_count)+1}. 리워드 </h1>
    <h2 class='reward-${Number(purpose_count)+1}'>0P</h2>
    </div>`).appendTo(".testing-second-bottom-top-right.first");
}
$(`<%=render 'second-box'%>`).appendTo(".testing-second-top form");

