<footer>
    <%=image_tag("footer-up-btn.svg", :class=>"footer-up-btn", :onclick=>"moveTop()")%>
    <div class="footer-top d-flex align-items-center">
        <a href="/aboutus">서비스소개</a>
        <h1>|</h1>
        <a href="/contact">제휴 문의</a>
        <h1>|</h1>
        <a id="term-of-use-open">이용약관</a>
    </div> 
    <div class="footer-middle d-flex">
        <h1>사업자 등록번호 : 804-07-01040</h1>
        <h1>대표자 : 강 지 수</h1>
        <h1>TEL : 010. 2028. 0930</h1>
        <h1>E-mail : 1018wltn@gmail.com</h1>
    </div>
    <h2>Copyright © thetester. All Rights Reserved.</h2>
    
</footer>
<div id="term-of-use">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>이용약관</p>
    </div>
</div>
<script>
    function moveTop() {
        $('html, body').animate({scrollTop : 0}, 600);
    }
    $(".footer-up-btn").hover(function() {
         $(".footer-up-btn").attr({"src": "<%=asset_path("footer-up-btn-hover.svg")%>"})
    },function() {
        $(".footer-up-btn").attr({"src": "<%=asset_path("footer-up-btn.svg")%>"})
    })
</script>
<script>
var modal = document.getElementById('term-of-use');
var btn = document.getElementById("term-of-use-open");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>