<footer>
<%=image_tag("testing_up_btn.svg", :class=>"footer-up-btn", :onclick=>"moveTop()")%>
    <div class="footer-top d-flex align-items-center">
        <a href="">서비스소개</a>
        <h1>|</h1>
        <a href="">제휴 문의</a>
        <h1>|</h1>
        <a href="">이메일 문의</a>
    </div>
<div class="footer-middle d-flex">
    <h1>사업자 등록번호 : 804-07-01040</h1>
    <h1>대표자 : 강 지 수</h1>
    <h1>TEL : 010. 2028. 0930</h1>
    <h1>E-mail : 1018wltn@gmail.com</h1>
</div>
<h2>Copyright © thetester. All Rights Reserved.</h2>
</footer>

<script>
    function moveTop() {
        $('html, body').animate({scrollTop : 0}, 600);
    }
</script>