
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

    </style>
  </head>
  <body>
    <h1>이름</h1>
    <h2><%=@params2[:name]%></h2>
    <h1>연락처</h1>
    <h2><%=@params2[:phonenumber]%></h2>
    <h1>이메일</h1>
    <h2><%=@params2[:email]%></h2>
  </body>
  
</html>